:root {
    --primary-color: #232a34; 
    --secondary-color: #05a081; 
    --tertiary-color: #7f90a9;
    --fourth-color: #0572a0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--tertiary-color);
}

/* Header Styling begin */
header {
    padding: 15px 25px;
    background-color: var(--primary-color);
    background-position: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
     position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    z-index: 9999;
}

header h1 {
    font-weight: 200;
    margin: 0;
    font-size: 36px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* Nav styling */ 
header nav {
    margin: 7px 0;
    background-color: var(--primary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: var(--primary-color);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5); 
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    text-shadow: none;
}
/* End header/nav styling */

/* Footer styling begin */
footer {
    background-color: var(--primary-color);
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h2 {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: right;
}
/* end footer styling */


section {
    padding: 60px;
}

/* Intro styling start  */
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-intro {
    width: 35%;
    text-align: left;
    margin: 3.5%;
    line-height: 1.2;
}

.hero-intro h2 {
    font-size: 36px;
    text-align: center;
}

.intro {
    font-size: 28px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.intro img {
    position: relative;
    max-width: 50%;

}
/*end intro section styling*/ 

/* Section title styling  */
.section-title {
    font-size: 36px;
    border-bottom: 3px solid;
    color: var(--fourth-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    text-decoration: none;
}

.decoration {
    text-decoration: underline;
}

/* Start of projects section styling */
.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-item {
    margin: 20px;
    flex: 1;
}

.project-item img {
    width: 100%;
}


.project-item img:hover {
    opacity: 0.5;
}

/* .main-project img {

} */
.project-item img {
    max-width: 50%;
    border-radius: 15px;
}

/* media queries */

/* Media Query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 22px;
        width: 100%;
        justify-content: left;
    }

    header nav ul li a {
        font-size: 16px;
    }

    footer, footer div {
        text-align: center;
        width: 100%;
    }

    /* .hero-intro, {
        width: 100%;
    } */

    .intro {
        text-align: center;
        font-size: 26px;
    }

    .section-title {
        width: 80%;
    }

    .project-item {
        flex: 0 70%;
    }
}

/* Media Query for tablets and smaller */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
}

/* Media Query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    .section-title {
        width: 100%;
    }

    .project-item {
        flex: 0 100%;
    }
}